body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#Pedido_input{
  background-color:gainsboro;
  text-align: center;
}

::placeholder {
  font-size: 0.780em;
  color: rgba(100, 100, 100, 0.342);
  /* Ajuste o tamanho do texto do placeholder conforme necessário */
}

