@media screen and (max-width: 600px) {
    body{
        padding: 0px !important;
    }

    #User_Icon{
        padding: 0% !important;
    }

    #User_Icon > i::before{
        padding: 30% !important;
    }

    #Card_Produtos{
        margin-right: 0% !important;
    }

    .d-flex{
        display: block !important;
    }

    #Button_addProduto{
        margin-top: 2% !important;
    }
    
}