@media screen and (max-width: 600px) {
    body{
        padding: 0px !important;
    }

    #Card{
        margin: 0% !important;
        margin-top: 20vw !important;
        margin-bottom: 3vw !important;
    }

    #Header_Flex{
        display: block !important;
    }

    #Header_Flex > .d-flex{
        margin-top: 5%;
    }

    #Header_Flex > .d-flex > .dropdown > button {
        padding: 3vw 5vw;
        margin: 0.2vw 0;
        margin-left: 0%;
    }

    #Btn_divida{
        padding: 0% !important;
        padding: 3.3vw 2vw !important;
    }

    .mobile_cadHeader{
        display: block !important;
    }

    .mobile_cadHeader button{
        padding: 10% 5% !important;
        font-size: 3vw !important;
    }

    .mobile_flex div{
        margin: 2% 5%;
    }

    #dropdownMenuButton{
        padding: 0% !important;
        padding: 5% 5% !important;
    }
}